<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>城市医院预约服务平台-首页</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/layout.css">
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/ui.css">
  <link rel="stylesheet" href="css/hospital_detail.css">
  <link rel="stylesheet" href="css/scheduling.css">
</head>
<body>
  <!-- top模块 -->
  <div id="top" class="top">
    <div class="w">
      <div class="top-l"><a href="#">010-114/116114电话预约</a></div>
      <div class="top-r">欢迎来到城市医院预约挂号统一平台 请&nbsp;&nbsp;&nbsp;<a href="#">登录</a>&nbsp;&nbsp;&nbsp;<a href="#">注册</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">帮助中心</a></div>
    </div>
  </div>
  <!-- header模块 -->
  <div id="header" class="header w">
      <div class="header-l">
        <h1><a href="index.html"><img src="img/logo.png" alt=""></a></h1>
      </div>
      <div class="header-r">
        <div class="ui-search">
          <div class="ui-search-select-box">
            <div class="ui-search-select">医院</div>
            <div class="ui-search-option-box">
              <div class="ui-search-option">科室</div>
              <div class="ui-search-option">疾病</div>
              <div class="ui-search-option">医院</div>
            </div>
          </div>
          <input type="text" placeholder="请输入搜索内容">
          <a href="#" class="btn">&nbsp;</a>
        </div>
      </div>
  </div>
  <!-- navBar模块 -->
  <div id="navBar" class="nav-bar">
    <div class="w">
      <div class="nav-r">
        <ul>
          <li><a href="index.html">首页</a></li>
          <li><a href="hospital.html">按医院挂号</a></li>
          <li><a href="#">按科室挂号</a></li>
          <li><a href="#">按疾病挂号</a></li>
          <li><a href="#">最新公告</a></li>
        </ul>
      </div>
      <a href="#" class="nav-custom">社会知名医院</a>
    </div>
  </div>
  <!-- hospital-address模块 -->
  <div id="hospitalAddress" class="hospital-address w">
    <div class="container">
      <div class="heading">
        <div class="heading-l">
          <h1>首都儿科研究所附属儿童医院&nbsp;&nbsp;<a href="#">关注医院</a></h1>
        </div>
        <div class="heading-r">
          <span class="key">等级：</span><span class="val">三级甲等</span>&nbsp;&nbsp;
          <span class="key">区域：</span><span class="val">朝阳区</span>&nbsp;&nbsp;
          <span class="key">分类：</span><span class="val">中国医科院所属医院</span>
        </div>
      </div>
      <div class="content">
        <ul class="infos">
          <li>[东院]北京市东城区帅府园一号 [西院]北京市西城区大木仓</li>
          <li>http://www.pumch.cn/</li>
          <li>东院资讯台：010-69455652；西院咨询台：010-69455652</li>
          <li>东院：106 106 106 106 106 ，106 到东院：106 106 106 106 106 ，106 到东院：106 106 106 106 106 ，106 到东院：106 106 106 106 106 ，106 到</li>
        </ul>
        <img src="img/hospital-1.jpg" alt="" class="pic1">
        <img src="img/map-1.png" alt="" class="pic2">
      </div>
    </div>
  </div>
  <!-- department-plan模块 科室排班区域 -->
  <div id="departmentPlan" class="department-plan w">
    <div class="department-plan-heading">
      <h1>科室排班表</h1><a href="hospital_detail.html">返回科室列表</a>
    </div>
    <div class="department-plan-content ui-department-plan">
      <div class="department-plan-content-t">
        <div class="department-plan-content-t-p1">
          <div class="arrow arrow-l"></div>
          <div class="time-frame">上午</div>
          <div class="time-frame">下午</div>
          <div class="time-frame">晚上</div>
        </div>
        <div class="department-plan-content-t-p2">
          <div class="form-container">
            <div class="table-plan clearfix">

            </div>
          </div>
        </div>
        <div class="department-plan-content-t-p3">
          <div class="arrow arrow-r"></div>
          <div class="time-frame"></div>
          <div class="time-frame"></div>
          <div class="time-frame"></div>
        </div>
        <div class="department-plan-content-t-p4">
          <h3 class="yygh-r-heading">预约规则</h3>
          <div class="yygh-r-item clearfix">
            <div class="yygh-r-item-l">预约周期：</div>
            <div class="yygh-r-item-r">7天</div>
          </div>
          <div class="yygh-r-item clearfix">
            <div class="yygh-r-item-l">放号时间：</div>
            <div class="yygh-r-item-r">8：30</div>
          </div>
          <div class="yygh-r-item clearfix">
            <div class="yygh-r-item-l">停挂时间：</div>
            <div class="yygh-r-item-r">下午4：00停止次日预约挂号（周五14：00后停挂至下周一）</div>
          </div>
          <div class="yygh-r-item clearfix">
            <div class="yygh-r-item-l">退号时间：</div>
            <div class="yygh-r-item-r">就诊前一工作日14：00前取消</div>
          </div>
          <div class="yygh-r-item clearfix">
            <div class="yygh-r-item-l yygh-r-item-l-custom">特殊规则：</div>
            <div class="yygh-r-item-r yygh-r-item-r-custom">
              ① 阿凡达发发父大放送放松放松父大放送放松放松父大放送放松放松父大放送放松放松父大放送放松放松父大放送放松放松父大放送放松放松父大放送放松放松父大放送放松放松父大放送放松放松父大放送放松放松的方式发
            </div>
          </div>
        </div>
      </div>
      <div class="department-plan-content-b">
        <p><span>您还没有选择就诊日期</span></p>
      </div>
    </div>
  </div>
  <!-- footer模块 -->
  <div id="footer" class="footer">Copyright &copy; 2017慕课网版权所有</div>
  <!-- ui-goheader -->
  <div class="ui-go-up"></div>
  <script type="text/template" id="tableTemplate">
    <% for(var i=0;i<tabArr.length;i++){ %>
    <div class="table-plan-item">
      <div class="table-plan-item-heading">
        <p class="week"><%= tabArr[i].week %></p>
        <p class="date"><%= tabArr[i].date %></p>
      </div>
      <% for(var j=0;j<tabArr[i].arrange.length;j++) { %>
      <% if(tabArr[i].arrange[j] ==='约满') { %>
      <div class="table-plan-item-cont bg">
      <% } else { %>
      <div class="table-plan-item-cont">
      <% } %>
        <%= tabArr[i].arrange[j] %>
      </div>
      <% } %>
    </div>
    <% } %>
  </script>
  <!-- <script src="http://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script> -->
  <script src="js/jquery-1.12.4.js"></script>
  <!-- 模拟远程数据 -->
  <script src="js/data.js"></script>
  <script src="js/jquery.ui.js"></script>
  <script src="js/template-native.js"></script>
  <script src="js/scheduling.js"></script>
</body>
</html>